body {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.green {
	color: #03806b;
}

.h-bg {
	background: rgb(19, 25, 46);
}

.sv-bg {
	background-color: #35c188;
}

.gray-bg {
	background-color: #f9f9fa;
}

a:hover {
	color: #03806b;
}

a {
	color: #03806b;
}

.name {
	word-wrap: break-word;
	font-weight: bold;
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	vertical-align: baseline;
	background: 0 0;
	color: white;
	line-height: 1.25em;
	letter-spacing: normal;
	pointer-events: auto;
	font: normal normal normal 24px/1.25em avenir-lt-w01_35-light1475496, sans-serif;
	text-align: start;
}

svg {
	fill: currentcolor;
}

.fs {
	font-size: 2em;
}

.modal-bg {
	background-color: rgba(0, 0, 0, 0.3);
}
