body {
	font-size: 2em !important;
}
.white {
	color: white;
}

.nav-bg {
	background-color: #052b16;
}

.nav-link:hover {
	color: #35c188;
}
.nav-item:hover {
	color: #fff;
}

.ft-bg {
	background-color: #052b16;
}

.footer-paddding {
	padding-bottom: 100px;
}

body {
	margin-top: 50px;
}
.glyphicon {
	margin-right: 10px;
}
.panel-body {
	padding: 0px;
}
.panel-body table tr td {
	padding-left: 15px;
}
.panel-body .table {
	margin-bottom: 0px;
}

.big-icon {
	font-size: 32px;
}

.myopacity {
	opacity: 0.5;
}
